//
//  Config.xcconfig
//  Keanu
//
//  Created by Benjamin Erhart on 27.09.18.
//  Copyright © 2018 - 2020 Guardian Project. All rights reserved.
//

// Avoid accidental checkins:
// git update-index --skip-worktree Config.xcconfig
// git update-index --no-skip-worktree Config.xcconfig


KEANU_APP_BUNDLE_ID[config=Debug] = im.zom.messenger
KEANU_EXT_BUNDLE_ID[config=Debug] = im.zom.messenger.ShareExtension
KEANU_APP_GROUP[config=Debug] = group.im.zom.messenger
DEVELOPMENT_TEAM[config=Debug] = 9SV9LPRC42
CODE_SIGNING_STYLE[config=Debug] = Automatic
PROVISIONING_PROFILE_SPECIFIER_MAIN[config=Debug] =
PROVISIONING_PROFILE_SPECIFIER_SHARE_EXTENSION[config=Debug] =

KEANU_APP_BUNDLE_ID[config=Release] = im.zom.messenger
KEANU_EXT_BUNDLE_ID[config=Release] = im.zom.messenger.ShareExtension
KEANU_APP_GROUP[config=Release] = group.im.zom.messenger
DEVELOPMENT_TEAM[config=Release] = 9SV9LPRC42
CODE_SIGNING_STYLE[config=Release] = Automatic
PROVISIONING_PROFILE_SPECIFIER_MAIN[config=Release] =
PROVISIONING_PROFILE_SPECIFIER_SHARE_EXTENSION[config=Release] =

KEANU_DEFAULT_HOME_SERVER = nang.zom.im
KEANU_DEFAULT_ID_SERVER = nang.zom.im
KEANU_PUSH_SERVER = push.nang.zom.im
KEANU_UNIVERSAL_LINK_HOST = zom.im

KEANU_USE_EXPERIMENTAL_AIR_SHARE = false

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) KEANU_APP_GROUP="$(KEANU_APP_GROUP)" DEVELOPMENT_TEAM="$(DEVELOPMENT_TEAM)" KEANU_DEFAULT_HOME_SERVER="$(KEANU_DEFAULT_HOME_SERVER)" KEANU_DEFAULT_ID_SERVER="$(KEANU_DEFAULT_ID_SERVER)" KEANU_PUSH_SERVER="$(KEANU_PUSH_SERVER)" KEANU_UNIVERSAL_LINK_HOST="$(KEANU_UNIVERSAL_LINK_HOST)" KEANU_USE_EXPERIMENTAL_AIR_SHARE="$(KEANU_USE_EXPERIMENTAL_AIR_SHARE)"
