//
//  Config.xcconfig
//  Keanu
//
//  Created by Benjamin Erhart on 27.09.18.
//  Copyright © 2018 Guardian Project. All rights reserved.
//

// Avoid accidental checkins:
// git update-index --skip-worktree Example/Shared/Config.xcconfig
// git update-index --no-skip-worktree Example/Shared/Config.xcconfig


KEANU_APP_BUNDLE_ID = im.zom.messenger
KEANU_EXT_BUNDLE_ID = im.zom.messenger.ShareExtension
KEANU_APP_GROUP = group.im.zom.messenger

DEVELOPMENT_TEAM = 9SV9LPRC42

PROVISIONING_PROFILE_MAIN_DEV =
PROVISIONING_PROFILE_SPECIFIER_MAIN_DEV =
PROVISIONING_PROFILE_MAIN_RELEASE =
PROVISIONING_PROFILE_SPECIFIER_MAIN_RELEASE =

PROVISIONING_PROFILE_SHARE_EXTENSION_DEV =
PROVISIONING_PROFILE_SPECIFIER_SHARE_EXTENSION_DEV =
PROVISIONING_PROFILE_SHARE_EXTENSION_RELEASE =
PROVISIONING_PROFILE_SPECIFIER_SHARE_EXTENSION_RELEASE =

KEANU_DEFAULT_HOME_SERVER = nang.zom.im
KEANU_DEFAULT_ID_SERVER = nang.zom.im
KEANU_PUSH_SERVER = push.nang.zom.im
KEANU_UNIVERSAL_LINK_HOST = zom.im

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) KEANU_APP_GROUP="$(KEANU_APP_GROUP)" DEVELOPMENT_TEAM="$(DEVELOPMENT_TEAM)" KEANU_DEFAULT_HOME_SERVER="$(KEANU_DEFAULT_HOME_SERVER)" KEANU_DEFAULT_ID_SERVER="$(KEANU_DEFAULT_ID_SERVER)" KEANU_PUSH_SERVER="$(KEANU_PUSH_SERVER)" KEANU_UNIVERSAL_LINK_HOST="$(KEANU_UNIVERSAL_LINK_HOST)"
